*.fbx filter=lfs diff=lfs merge=lfs -crlf 
*.zpr filter=lfs diff=lfs merge=lfs -crlf 
*.ztl filter=lfs diff=lfs merge=lfs -crlf 
*.c4d filter=lfs diff=lfs merge=lfs -crlf 
*.a filter=lfs diff=lfs merge=lfs -crlf 
*.ai filter=lfs diff=lfs merge=lfs -crlf 
*.aif filter=lfs diff=lfs merge=lfs -crlf 
*.aifc filter=lfs diff=lfs merge=lfs -crlf 
*.aiff filter=lfs diff=lfs merge=lfs -crlf 
*.avi filter=lfs diff=lfs merge=lfs -crlf 
*.bmp filter=lfs diff=lfs merge=lfs -crlf 
*.com filter=lfs diff=lfs merge=lfs -crlf 
*.exe filter=lfs diff=lfs merge=lfs -crlf 
*.gif filter=lfs diff=lfs merge=lfs -crlf 
*.gz filter=lfs diff=lfs merge=lfs -crlf 
*.jfif filter=lfs diff=lfs merge=lfs -crlf 
*.jpeg filter=lfs diff=lfs merge=lfs -crlf 
*.jpg filter=lfs diff=lfs merge=lfs -crlf 
*.JPG filter=lfs diff=lfs merge=lfs -crlf 
*.mid filter=lfs diff=lfs merge=lfs -crlf 
*.mov filter=lfs diff=lfs merge=lfs -crlf 
*.mpg filter=lfs diff=lfs merge=lfs -crlf 
*.pdf filter=lfs diff=lfs merge=lfs -crlf 
*.rar filter=lfs diff=lfs merge=lfs -crlf 
*.so filter=lfs diff=lfs merge=lfs -crlf 
*.swf filter=lfs diff=lfs merge=lfs -crlf 
*.swp filter=lfs diff=lfs merge=lfs -crlf 
*.sys filter=lfs diff=lfs merge=lfs -crlf 
*.tar filter=lfs diff=lfs merge=lfs -crlf 
*.taz filter=lfs diff=lfs merge=lfs -crlf 
*.mkv filter=lfs diff=lfs merge=lfs -crlf
*.tgz filter=lfs diff=lfs merge=lfs -crlf 
*.tif filter=lfs diff=lfs merge=lfs -crlf 
*.tiff filter=lfs diff=lfs merge=lfs -crlf 
*.zip filter=lfs diff=lfs merge=lfs -crlf 
*.wma filter=lfs diff=lfs merge=lfs -crlf 
*.wmv filter=lfs diff=lfs merge=lfs -crlf 
*.wav filter=lfs diff=lfs merge=lfs -crlf 
*.7z filter=lfs diff=lfs merge=lfs -crlf 
*.mp4 filter=lfs diff=lfs merge=lfs -crlf 
*.iso filter=lfs diff=lfs merge=lfs -crlf 
*.flv filter=lfs diff=lfs merge=lfs -crlf 
*.psd filter=lfs diff=lfs merge=lfs -crlf 
*.png filter=lfs diff=lfs merge=lfs -crlf 
*.PNG filter=lfs diff=lfs merge=lfs -crlf 
*.raw filter=lfs diff=lfs merge=lfs -crlf 
*.svg filter=lfs diff=lfs merge=lfs -crlf 
*.max filter=lfs diff=lfs merge=lfs -crlf 
*.obj filter=lfs diff=lfs merge=lfs -crlf 
*.mud filter=lfs diff=lfs merge=lfs -crlf 
*.bak filter=lfs diff=lfs merge=lfs -crlf 
*.ufo filter=lfs diff=lfs merge=lfs -crlf 
*.ogv filter=lfs diff=lfs merge=lfs -crlf 
*.ogg filter=lfs diff=lfs merge=lfs -crlf 
*.mp3 filter=lfs diff=lfs merge=lfs -crlf
*.mpeg filter=lfs diff=lfs merge=lfs -crlf
*.ppt filter=lfs diff=lfs merge=lfs -crlf
*.f4v filter=lfs diff=lfs merge=lfs -crlf
*.mov  filter=lfs diff=lfs merge=lfs -crlf
*.webm filter=lfs diff=lfs merge=lfs -crlf
*.m4v filter=lfs diff=lfs merge=lfs -crlf
*.asf filter=lfs diff=lfs merge=lfs -crlf
*.aac filter=lfs diff=lfs merge=lfs -crlf
*.flac filter=lfs diff=lfs merge=lfs -crlf
*.3gp filter=lfs diff=lfs merge=lfs -crlf
*.doc filter=lfs diff=lfs merge=lfs -crlf
*.docx filter=lfs diff=lfs merge=lfs -crlf
*.aaif filter=lfs diff=lfs merge=lfs -crlf
*.ttf filter=lfs diff=lfs merge=lfs -crlf
*.ttc filter=lfs diff=lfs merge=lfs -crlf
*.otf filter=lfs diff=lfs merge=lfs -crlf
*.PSD filter=lfs diff=lfs merge=lfs -crlf
*.PSB filter=lfs diff=lfs merge=lfs -crlf
*.psb filter=lfs diff=lfs merge=lfs -crlf
*.xml filter=lfs diff=lfs merge=lfs -crlf
*.mp3 filter=lfs diff=lfs merge=lfs -crlf 
*.zip filter=lfs diff=lfs merge=lfs -crlf
*.dll filter=lfs diff=lfs merge=lfs -crlf
*.bak filter=lfs diff=lfs merge=lfs -crlf
*.jar filter=lfs diff=lfs merge=lfs -crlf
*.ttc filter=lfs diff=lfs merge=lfs -crlf
*.scene filter=lfs diff=lfs merge=lfs -crlf
*.xlsx filter=lfs diff=lfs merge=lfs -crlf
*.twbx filter=lfs diff=lfs merge=lfs -crlf
*.odt filter=lfs diff=lfs merge=lfs -crlf
*.rtf filter=lfs diff=lfs merge=lfs -crlf
*.xls filter=lfs diff=lfs merge=lfs -crlf
*.xlsm filter=lfs diff=lfs merge=lfs -crlf
*.blend filter=lfs diff=lfs merge=lfs -crlf
*.fnt filter=lfs diff=lfs merge=lfs -crlf
*.grd filter=lfs diff=lfs merge=lfs -crlf
*.hdr filter=lfs diff=lfs merge=lfs -crlf
*.TTF filter=lfs diff=lfs merge=lfs -crlf
*.webp filter=lfs diff=lfs merge=lfs -crlf
*.xd filter=lfs diff=lfs merge=lfs -crlf

